*{
    padding: 0;
    margin: 0;
    
}

.divForm{
    width: 600px;
    margin: 100px auto;
    border: 1px solid gray;
    padding: 100px;
}
.divForm label{
    font-size: 1.2rem;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.input{
    height: 8rem;
    text-align: center;
}
.error{
    color: red;
}

form input[type="email"]{
    width: 100%;
    margin: 10px auto;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 22px;
    border: 1px solid gray;
   
}
form input[type="password"]{
    width: 100%;
    margin: 10px auto;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 22px;
    border: 1px solid gray;
   
}


form input[type="submit"]{
    display: block;
    margin: 10px auto;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 22px;
    padding-right: 22px;
    border: 1px solid gray;
    background-color: #e7e7e7;
}
